<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./iconfont/iconfont.css">
</head>

<body>
    <div class="container">
        <!-- header S -->
        <header class="header clearfix:fixed">
            <div class="hearder-main">
                <div class="message">
                    <a href="#"><img src="./images/邮件.png" alt=""></a>
                </div>
                <div class="logo"><img src="./images/headerLogo.png" alt=""></div>
                <div class="search">
                    <a href="#"><i class="iconfont icon-sousuo"></i></a>
                </div>
            </div>
        </header>
        <!-- header E -->

        <!-- banner S -->
        <div class="banner">
            <a href="#"><img src="./images/FE.png" alt=""></a>
        </div>
        <!-- banner E -->

        <!-- 课程列表 S -->
        <div class="course-list clearfix">
            <p>· 就业课 ·</p>
            <div class="list-content">
                <a href="#">
                    <div class="course-image one">
                    </div>
                </a>
                <a href="#">
                    <div class="course-image two">
                    </div>
                </a>
                <a href="#">
                    <div class="course-image three">
                    </div>
                </a>
                <a href="#">
                    <div class="course-image four">
                    </div>
                </a>
                <a href="#">
                    <div class="course-image five">
                    </div>
                </a>
                <a href="#">
                    <div class="course-image six">
                    </div>
                </a>
            </div>
        </div>
        <!-- 课程列表 E -->

        <!-- shopping课程 S -->
        <dl class="course-table">
            <!-- table栏 nav -->
            <div class="list-title">
                · 微 课 ·
            </div>
            <!-- table栏 展示列表 -->
            <div class="table-list-box">
                <dd class="table-list-one clearfix">
                    <ul id="courseList">
                        <li>
                            <a href="#">
                                <div class="table-list-img">
                                    <img src="./images/data.png" alt="">
                                </div>
                                <div class="list-item-content">
                                    <h4>【前端】微信小程序</h4>
                                    <div class="con">
                                        <div class="person">
                                            <i>20</i>人学习
                                        </div>
                                        <div class="price">¥<i>199</i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="table-list-img">
                                    <img src="./images/data.png" alt="">
                                </div>
                                <div class="list-item-content">
                                    <h4>【前端】微信小程序</h4>
                                    <div class="con">
                                        <div class="person">
                                            <i>20</i>人学习
                                        </div>
                                        <div class="price">¥<i>199</i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="table-list-img">
                                    <img src="./images/data.png" alt="">
                                </div>
                                <div class="list-item-content">
                                    <h4>【前端】微信小程序</h4>
                                    <div class="con">
                                        <div class="person">
                                            <i>20</i>人学习
                                        </div>
                                        <div class="price">¥<i>199</i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="table-list-img">
                                    <img src="./images/data.png" alt="">
                                </div>
                                <div class="list-item-content">
                                    <h4>【前端】微信小程序</h4>
                                    <div class="con">
                                        <div class="person">
                                            <i>20</i>人学习
                                        </div>
                                        <div class="price">¥<i>199</i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="table-list-img">
                                    <img src="./images/data.png" alt="">
                                </div>
                                <div class="list-item-content">
                                    <h4>【前端】微信小程序</h4>
                                    <div class="con">
                                        <div class="person">
                                            <i>20</i>人学习
                                        </div>
                                        <div class="price">¥<i>199</i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="table-list-img">
                                    <img src="./images/data.png" alt="">
                                </div>
                                <div class="list-item-content">
                                    <h4>【前端】微信小程序</h4>
                                    <div class="con">
                                        <div class="person">
                                            <i>20</i>人学习
                                        </div>
                                        <div class="price">¥<i>199</i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="table-list-img">
                                    <img src="./images/data.png" alt="">
                                </div>
                                <div class="list-item-content">
                                    <h4>【前端】微信小程序</h4>
                                    <div class="con">
                                        <div class="person">
                                            <i>20</i>人学习
                                        </div>
                                        <div class="price">¥<i>199</i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="table-list-img">
                                    <img src="./images/data.png" alt="">
                                </div>
                                <div class="list-item-content">
                                    <h4>【前端】微信小程序</h4>
                                    <div class="con">
                                        <div class="person">
                                            <i>20</i>人学习
                                        </div>
                                        <div class="price">¥<i>199</i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="table-list-img">
                                    <img src="./images/data.png" alt="">
                                </div>
                                <div class="list-item-content">
                                    <h4>【前端】微信小程序</h4>
                                    <div class="con">
                                        <div class="person">
                                            <i>20</i>人学习
                                        </div>
                                        <div class="price">¥<i>199</i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="table-list-img">
                                    <img src="./images/data.png" alt="">
                                </div>
                                <div class="list-item-content">
                                    <h4>【前端】微信小程序</h4>
                                    <div class="con">
                                        <div class="person">
                                            <i>20</i>人学习
                                        </div>
                                        <div class="price">¥<i>199</i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </dd>
            </div>
        </dl>
        <!-- shopping课程 E -->
        <!-- 底部导航栏toolbar S -->
        <div class="toolbar">
            <ul>
                <li>
                    <a href="./index.html">
                        <i class="iconfont icon-shouye"></i>
                        <p>首页</p>
                    </a>
                </li>
                <li>
                    <a href="./category.html">
                        <i class="iconfont icon-quanbufenlei"></i>
                        <p>分类</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 底部导航栏toolbar S -->

    </div>
    <script src="./js/index.js"></script>
</body>

</html>